/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    height: 500px;
    display: flex;
    background: #f4f4f4;
    justify-content: end;
    align-items : end;

}

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: white;
}

